<div
  style="
    display: flex;
    justify-content: center;
    margin: auto;
    width: 70%;
    border: 3px solid green;
    padding: 10px;
  "
>
  <select
    [(ngModel)]="municipioEscolhido"
    (ngModelChange)="getMunicipioDetalhes($event)"
  >
    <option *ngFor="let locais of listMunicipios" [value]="locais.codigo">
      {{ locais.nome }}
    </option>
  </select>
</div>

<br />
<br />

<span>A região de interesse do munícipio solicitado é: </span>
<!-- <span *ngFor="let infos of municipioDados"> {{ infos.dados?.reg_inter }}</span> -->
<span *ngFor="let infos of municipioDados.dados?.informacoes">
  {{ infos.valor}}
</span>
